<section class="showcase">
  <header>
    <h2 class="logo">Nicolas Botte</h2>
    <div class="toggle"></div>
  </header>
  <div class="overlay"></div>
</section>
<div class="menu">
  <a href="#">Accueil</a>
  <a href="#">Consultation</a>
  <a href="#">Ateliers</a>
  <a href="#">Blog</a>
  <a href="#">Contact</a>
</div>