{% extends 'base.html.twig'%}
{% block title %}Hypnose{% endblock %}
{% block body %}
<div class="min-vh-100"></div>
<main id="hypnose" class="bg-secondary p-5">
  <h1 class="text-center my-3">L'Hypnose</h1>
  <p class="text-primary text-center py-4">
    L'hypnose étant totalement naturelle c'est un outil complémentaire parfait qui permet d'obtenir des résultats rapidement.
  </p>
  <h2 class="text-center my-3 py-3">Comment cela fonctionne ?</h2>
  <p>
    L'hypnose correspond à un "état modifié de conscience".<br>
    Cet état est tout à fait naturel et peut survenir lorsque nous rêvons ou pratiquons une activité artistique par exemple.<br>
    Réfléchissez aux nombreuses fois ou vous avez conduit de "manière automatique", sans avoir le souvenir exact du trajet effectué... Ou encore à ces fois, ou totalement absorbé dans une série ou un livre, vous vous êtes complètement coupé de la réalité ...
  </p>
  <p><b>
    L’état modifié de conscience permet à un hypnothérapeute de faciliter l’accès à l’inconscient du patient et lui rendre ainsi accessibles les nombreuses ressources peu exploitées de son cerveau.<br>
    Nous avons en nous toutes les ressources nécessaires à l'obtention de n'importe quel changement, si l'objectif à atteindre est bien formulé.
  </b></p>
  <h2 class="text-center my-3 py-3">Qu'est-ce que l'Inconscient, quel est son rôle ?</h2>
  <p>
    Bien distinct du Conscient, l'Inconscient est notre "moi profond". Il s'agit de notre partie non-consciente. Il est une facette de nous même dont nous ne sommes pas conscients. Il a pour fonction -entre autres- de nous protéger et de nous aider à évoluer.<br>
    Il est détenteur de nos ressources et connaissances.<br>
    L’inconscient pense et réagit de manière autonome et différente du conscient. Pour Milton Erickson, l’inconscient est profondément bon et puissant. Il se révèle une puissance bienveillante avec laquelle l’état hypnotique peut permettre de coopérer. Il communique via les émotions. Mais il ne vous aide que si vous lui demandez ...
  </p>
  <p><b>
    C'est donc la raison pour laquelle on fait de l'Hypnose.
  </b></p>
  <h2 class="text-center my-3 py-3">Comment travailler avec l'Inconscient ? Le pouvoir de la suggestion...</h2>
  <p>
    Le thérapeute utilise des métaphores, c’est-à-dire un langage symbolique, pour guider l’inconscient du sujet et l’amener à trouver en lui-même la résolution de ses conflits en puisant dans ses ressources. En transe, si les mots "vous parlent", ce qui est dit est fait.<br>
    D’où l'importance de l'entretien effectué avec vous lors du premier rendez-vous.<br>
    L’hypnose n’atteint vraiment complètement son objectif que lorsqu’elle sert à la mise en place d’un changement qui vient du patient lui-même. Changement rendu possible par la transe, la relation au thérapeute et l’accès par le sujet à ses propres ressources.
  </p>
  <p><b>
    Pendant une séance d’hypnose, le thérapeute, à aucun moment, ne contrôle le comportement du patient, vous conservez votre libre arbitre.<br>
    Souvenez vous que les suggestions en Hypnose Thérapeutique respectent votre écologie, il ne sera jamais question de vous faire agir contre votre gré, votre morale ou votre intégrité physique.
  </b></p>
  <div class="d-flex justify-content-center my-3">
    <span class="bg-primary p-3 border-rounded text-secondary shadow-lg">
      <p class="text-center">Pourquoi Consulter ?</p>
      <ul>
        <li>Addictions (tabac, sucre, internet...)</li>
        <li>Gestion du stress, des émotions (colère, timidité...)</li>
        <li>Insomnies</li>
        <li>Compulsions / troubles alimentaires</li>
        <li>Dépasser vos peurs, phobies, angoisses</li>
        <li>Migraines, douleurs chroniques</li>
        <li>Travail de deuil, Traumatismes et syndromes post-traumatiques</li>
        <li>Augmenter votre créativité</li>
        <li>Gestion des moments difficiles (examens scolaires ou médicaux, prise de parole, confiance en soi)</li>
      </ul>
    </span>
  </div>
  <div class="d-flex justify-content-center my-3">
    <span class="bg-primary p-3 border-rounded text-secondary shadow-lg">
      <p class="text-center">L'Hypnose pour qui ?</p>
      <p>
        Tout le monde est hypnotisable. La disponibilité de chacun, ou "suggestibilité" change tout au long de la journée. Lors d'un rendez-vous chez l'hypnothérapeute, votre désir de faire la séance doit être présent. Votre engagement dans le processus sera déterminant.
      </p>
      <p>
        L'hypnothérapie peut être pratiquée avec des enfants, des adolescents et des adultes.
      </p>
    </span>
  </div>
  <p>
    Tout en restant maître de soi même, l'Hypnose permet l'accès à l'Inconscient afin de mettre en place le changement. Ainsi, guidé par l'hypnothérapeute, qui choisit le protocole le mieux adapté, le patient développera ses savoir-faire, ressources et qualités qui lui permettront de modifier le comportement désiré afin d'atteindre l'objectif fixé. L’hypnose est donc un amplificateur de la psyché et un accélérateur de la thérapie permettant la formation de nouveaux comportements plus positifs pour la vie du sujet.
  </p>
  <p><b>
    Aucun traitement médical ou avis médical n'est émis par un Hypnothérapeute. Un Hypnothérapeute n'est pas un médecin.
  </b></p>
  <p><b>
    De plus, pour ce qui est des douleurs physiques, il est impératif d'avoir consulté votre médecin auparavant.
  </b></p>
</main>
<picture>
	<source media="(max-width: 992px)" srcset="{{ asset('build/img/Hypnose-hd.jpg') }}">
	<img srcset="{{ asset('build/img/Hypnose-fullhd.jpg') }}, {{ asset('build/img/Hypnose-hd.jpg') }}" style="width:100%;">
</picture>
{% endblock %}