{% extends 'base.html.twig'%}
{% block title %}Qui suis-je?{% endblock %}
{% block body %}
<div class="min-vh-100"></div>
<main id="qui-suis-je" class="container my-5">
  <h1 class="text-center my-3 py-3">Qui suis-je?</h1>
  <p>
    Naturopathe diplômé et pratiquant l'hypnose, j'obtiens un diplôme de naturopathe et tout en continuant à me perfectionner dans ce domaine, je me spécialise dans la pratique de l'hypnose pour aider mes patients à atteindre une meilleure santé mentale et physique.<br>

    Avec une passion pour les méthodes naturelles de guérison, je suis déterminé à aider les gens à se sentir mieux grâce à des méthodes non invasives et naturelles.
  </p>
  <div class="d-flex justify-content-center py-3">
    <img 
      src="{{ asset('build/img/qui-suis-je.jpg') }}"
      alt="photo de Nicolas"
      class="col-10 col-lg-4"
    >
  </div>
</main>
{% endblock %}