
<h1>Bonjour et bienvenue! merci de confirmer votre adresse email pour finaliser votre inscription</h1>

<p>
    Pour confirmer votre adresse email, cliquez sur le lien suivant:<br><br>
   {#  <a href="{{ signedUrl }}">Confirmer email</a>. #}
    Ce lien expirera dans 1 heure.
</p>

<p>
    A bientôt!
</p>
