{% extends 'base.html.twig' %}

{% block title %}Modification d'un service{% endblock %}

{% block body %}
    <div class="min-vh-100"></div>
    <main class="container d-flex flex-column align-items-center" id="service-edit">
        <h1 class="text-center my-3">Modification d'un service</h1>
        {{ include('service/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="btn btn-outline-primary rounded-pill mb-3" href="{{ path('app_tarif_index', {'_fragment': 'tarifs'}) }}">Retour aux tarifs</a>
    </main>
{% endblock %}
