{% extends 'base.html.twig' %}

{% block title %}Ajouter un service{% endblock %}

{% block body %}
    <div class="min-vh-100"></div>
    <main class="container d-flex flex-column align-items-center" id="new-service">
        <h1 class="text-center my-3">Ajouter un nouveau service</h1>

        {{ include('service/_form.html.twig') }}

        <a class="btn btn-outline-primary col-6 my-3 border-rounded" href="{{ path('app_tarif_index', {'_fragment': 'tarifs'}) }}">Retour vers les tarifs</a>
    </main>
{% endblock %}
