@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "_navbar";
@import "_reveal";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: $lunary-white;
}

.border-rounded {
    border-radius: 45px;
}

.card {
    transform: translateY(0);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
}
