{% extends 'base.html.twig' %}

{% block title %}Modification d'un article{% endblock %}

{% block body %}
    <div class="min-vh-100"></div>
    <main class="d-flex flex-column align-items-center" id="article-edit">
        <h1 class="text-center my-3">Modification d'un article</h1>
        {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="btn btn-outline-primary rounded-pill mb-3" href="{{ path('app_article_index', {'_fragment': 'blog'}) }}">Retour au blog</a>
    </main>
{% endblock %}
